This is the new user profile page.

<%= form_for :profile, url: profiles_path do |form| %>
  <p>
    <%= form.text_field :name, :placeholder => "Enter Username" %>
  </p>
  <p>
    <%= form.text_field :preference, :placeholder => "Enter Your Preference" %>
  </p>
  <p>
    <%= form.submit "Submit"  %>
  </p>
<% end %>
