<%= form_for :profile, url: profiles_path do |post| %>
  <p class="form-style">
    <span class="" style="display: block;">
      Username
    </span>
    <%= post.text_field :name, :placeholder => "Username"%>
  </p>
  <p class="form-style">
    <span class="" style="display: block;">
      Preference
    </span>
    <%= post.text_field :preference, :placeholder => "Preference"%>
  </p>
  <p class="actions">
    <%= post.submit "Submit", :class => 'form-submit-button'%>
  </p>
<% end %>
