
<h1>Profile Show</h1>

<!--List Current User's Saved Recipes- Link back to show  -->
<p>Shopping Lists</p>


<div id="listContainer">


</div>

<div id="avatar_image">

</div>
<%= link_to 'Account', edit_user_registration_path, :class => 'navbar-link' %>
