Your Shopping List.


<div class="recipe_list">

<p id="recipeTitleShow"><%= @recipe.title%></p>

<li>
  <%= @recipe.ingredients %>
</li>

</div>
<p><%=link_to "Edit List", edit_recipe_path(@recipe.id), :id => "editList"%></p>

<p><%=link_to "Delete List", recipe_path(@recipe.id),:method => :delete, :id => "editList"%></p>
