

<p>
  <%= form_tag({:controller => 'recipes', :action => 'index'}, method: 'get') do %>
      <label for="search"></label>
      <%= text_field_tag :search,"What Do You Wanna Make?" %>
      <%= submit_tag "Let's Get Cooking", :name => nil %>
  <% end %>
</p>
