<p>
  <%= form_tag({:controller => 'home', :action => 'index'}, method: 'get') do %>
      <label for="search"></label>
      <%= text_field_tag :search,"What Do You Wanna Make?" %>
      <%= submit_tag "Let's Get Cooking", :name => nil %>
  <% end %>
</p>

  <!-- <div class="slideshow-container">
    <div class="mySlides fade">

      </div>
    </div> -->
    <% @recipeResponse["hits"].each do |response| %>
    <% @image = response["recipe"]["image"] %>
    <%= image_tag(@image) %>
    <%end%>


<!--
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div> -->
