// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  font-family: 'Shrikhand', cursive;
  font-size: 125px;
  color: white;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 26px;
  background-image: url(german.jpg);
  // Do we want this image to be on every page? 
  background-size: cover;
}

p {
  text-align: center;
}

#cooking {
  width: 800px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  color: black;
}

#submit {
  height: 30px;
  width: 150px;
  font-size: 14px;
  color: black;
  background-color: white;
}
