// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#profileSearch{
  position: relative;
  left: 645px;
  top: 100px;
  height: 100px;
  width: 500px;
  background-color:rgba(0, 23, 31, 0.3);
}
#profileSubmit{
  position: absolute;
  height: 30px;
  width: 150px;
  font-size: 13px;
  font-family:'Montserrat', sans-serif;
  border-radius: 30px;
  left: 830px;
  top: 550px;
  font-style: italic;
  background-color: #F1B310;
}
#profileSearchField{
  position: relative;
  top: 15px;
  left: 750px;
  text-align: center;
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-family:'Montserrat', sans-serif;
}

#editAccount{
  position: absolute;
  color: #F1B310;
  font-size: 20px;
  font-family:'Montserrat', sans-serif;
  left: 1500px;
  top: 240px;
}

#listContainer{
  position: relative;
  width: 150%;
  height:350px;
  left: -10px;
  top: 230px;
  z-index: -1;
  background-color:rgba(0, 23, 31, 0.3);
}

.profilePreference{
  position: relative;
  top: 160px;
  left: -40px;
}
#imageResponseProfile{
  height: 200px;
  width: 250px;
  position: relative;
  margin: 20px;
  margin-top: 30px;
  top: 40px;
  left:200px;
  float: left;
}
#profileTitle{
  position: relative;
  left: -30px;
  width: 330px;
  top: 10px;
  color: #F1B310;
  font-size: 14px;
  font-family:'Montserrat', sans-serif;
}
.grow{
  padding: 5px;
  height: 50px;
  width: 200px;
  border: 1 px solid rgba(0, 23, 31, 0.6);
  position: absolute;
  transition: height 0.30s;
  text-align: center;
  overflow: hidden;
  transition: 1s ease-in-out;
  top: 225px;
  left: 1300px;
  z-index: 2;
  color: #F1B310;
  font-size: 18px;
  font-family:'Montserrat', sans-serif;
}
.grow:hover {
  height: 450px;
}

// Profile new

.form-style  {
  background-color: rgba(26, 27, 28, 0.7);
  padding-top: 15px;
  padding: 25px;
  width: 200px;
  top: 10px;
  margin: 0px;
  align: center;
  color: #F1B310;
  font-size: 30px;
  font-family:'Montserrat', sans-serif;
}


.form-submit-button {
  // background: #0066A2;
  // text-align: center;
  // color: white;
  // border-style: outset;
  // border-color: #0066A2;
  // padding-top: 20px;
  height: 20px;
  width: 50px;
  // font-size: 20px;
  font-family:'Montserrat', sans-serif;
  margin: 2em auto 0;
}
