// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#listContainer{
  position: relative;
  width: 150%;
  height:600px;
  left: 0px;
  top: 300px;
  background-color:rgba(0, 23, 31, 0.3);
}
#avatar_image{

}
