// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#profileSearch{
  position: relative;
  left: 675px;
  top: 200px;
  height: 100px;
  width: 500px;
  background-color:rgba(0, 23, 31, 0.3);
}
#editAccount{
  position: absolute;
  color: #F1B310;
  font-size: 20px;
  font-family:'Montserrat', sans-serif;
  left: 1500px;
  top: 178px;
}

#listContainer{
  position: relative;
  width: 150%;
  height:350px;
  left: -10px;
  top: 230px;
  z-index: -1;
  background-color:rgba(0, 23, 31, 0.3);
}
.profilePreference{
  position: relative;
  top: 160px;
  left: -40px;
}
#imageResponseProfile{
  height: 200px;
  width: 300px;
  position: relative;
  margin: 20px;
  top: 40px;
  left: 90px;
  float: left;
}
#profileTitle{
  position: relative;
  left: 0px;
  width: 330px;
  top: 10px;
  color: #F1B310;
  font-size: 14px;
  font-family:'Montserrat', sans-serif;
}
.grow{
  padding: 5px;
  background-color:rgba(0, 23, 31, 0.6); border-radius: 10px;
  height: 50px;
  width: 200px;
  border: 1 px solid rgba(0, 23, 31, 0.6);
  position: absolute;
  transition: height 0.30s;
  text-align: center;
  overflow: hidden;
  transition: 1s ease-in-out;
  top:300px;
  left: 1650px;
  z-index: 2;
  color: #F1B310;
  font-size: 20px;
  font-family:'Montserrat', sans-serif;
}
.grow:hover {
  height: 200px;
}
.grow2{
  padding: 10px;
  background-color:rgba(0, 23, 31, 0.6); border-radius: 10px;
  height: 50px;
  width: 200px;
  border: 1 px solid rgba(0, 23, 31, 0.6);
  position: absolute;
  transition: height 0.30s;
  text-align: center;
  overflow: hidden;
  transition: 1s ease-in-out;
  top:500px;
  left: 1650px;
  color: #F1B310;
  font-size: 20px;
  font-family:'Montserrat', sans-serif;
}
.grow2:hover {
  height: 200px;
}
// Profile new
.form-style  {
  background-color: rgba(26, 27, 28, 0.7);
  position: relative;
  left: -20px;
  padding: 25px;
  width: 200px;
  top: 10px;
  margin: 0px;
  align: center;
}

.form-submit-button {
  background: #0066A2;
  position: relative;
  left: 870px;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  padding-top: 20px;
  height: 20px;
  width: 50px;
  font-size: 20px;
  font-family:'Montserrat', sans-serif;

}
