// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Recipe All
.searchImages{
  position: relative;
  width: 150%;
  height:600px;
  left: 0px;
  top: 300px;
  background-color:rgba(0, 23, 31, 0.3);
}

#imageResponseRecipe{
  position: relative;
  margin: 10px;
  top: 0px;
  left: 100px;
  float:left;
}
#TitleRecipe{
  position: relative;
  color: #F1B310;
  font-size: 12px;
  font-family:'Montserrat', sans-serif;
}
#ingredientList{
  position: relative;
  top: 10px;
  color: #F1B310;
  font-size: 18px;
  margin: 0px;
  font-family:'Montserrat', sans-serif;
}
.recipeSubmit{
  position: relative;
  top: 20px;
  left: 60px;
}
.form{
  margin: 0px;
  width: 0px;
}
#submitHomeRecipe{
  position: absolute;
  height: 30px;
  width: 150px;

  border-radius: 30px;
  left: 860px;
  top: 400px;
  font-style: italic;
  background-color: #F1B310;
}
// Recipe edit
#ingredientListEdit{
  position: relative;
  top: 300px;
  left: 50px;
}
#TitleRecipeEdit{
  position: relative;
  left: 70px;
  top: 300px;
}
// Recipe show
.recipe_list{
  position: relative;
  top: 200px;
}
#recipeTitleShow{
  position: relative;
  font-size: 30px;
  font-family:'Montserrat', sans-serif;
}
#recipe_ingredients{
  position: relative;
  font-size: 30px;
  font-family:'Montserrat', sans-serif;
  left: 300px;
}
